:root{
    --branco-principal: #ffffff;
    --cor-de-fundo: #
    --azul: #167bf7;
    --cinza: 
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

*{
    margin: 0;
    padding: 0;

}
.principal{                             
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;

}
.container{
    height: 100vh;
}

.container_botao{
    background-color: var(--azul);
    border-radius: 5px;
    padding: lem;
    color: var(--branco-principal);
    display: block
}   